#un,#deux,#trois,#quatre,#cinq,#six,#sept{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 10%; */
}

#back {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 10%; */
}

#button {
    margin-top: 8%;
}

.right {
    margin-left: 5%;
    /* margin-top: 5%; */
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 10%; 
}

IMG.displayed2 {
    display: block;
    right:0;
    position: fixed;
    bottom:0;
    height: 20%;
    width: auto;
    max-block-size: 30%;
}

IMG.displayed3{
    display: block;
    left:0;
    position: fixed;
    bottom:0;
    height: auto;
    width: auto;
    max-block-size: 15%;
}


#templateBody {
        height:100%;
        box-shadow:inset -10px 0 80px -40px rgba(68, 65, 65, 0.75);
}


#titre_reseaux, #titreDemarche, #titreActivite {
    text-align: center;
}


.elevation-hover-15 {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.col-90 {
    margin-left: auto;
    margin-right: auto;
}